@font-face {
  font-family: "ShantellSans";
  font-display: block;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Shantell_Sans-Normal-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ShantellSans";
  font-display: block;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Shantell_Sans-Normal-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "ShantellSans";
  font-display: block;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Shantell_Sans-Normal-Bold.woff2") format("woff2");
}

:root {
  /* Document dimentions */
  --document-margin: clamp(1rem, -0.25rem + 5vw, 3.75rem);
  
  /* Colors */
  --gray: rgb(87 87 87);
  
  /* Typography */
  --type-font-family: "ShantellSans";
  --type-font-size: 16px;
  --type-line-height: 1.5;
  
  /* Borders */
  --border-radius-xs: .5rem; /* 8px */
  --border-radius-sm: .625rem; /* 10px */
  --border-radius-md: .75rem;
  --border-radius-lg: 1rem;
  --border-radius-full: 10rem;
}

:root {
  box-sizing: border-box;
  background-color: #000;
  
  /* Simply feels better then global text cursor */
  cursor: default;
  
  font-family: var(--type-font-family);
  font-size: var(--type-font-size);
  line-height: var(--type-line-height);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html.has-drapes body {
  overflow: hidden;
}

html body::after {
  background-color: rgb(0 0 0 / 40%);
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  pointer-events: none;
  opacity: 0;
  z-index: 66;
}

html.has-drapes body::after {
  pointer-events: all;
  opacity: 1;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/**
 * Media elements
 */

svg,
img,
video,
iframe {
  display: inline-block;
  vertical-align: bottom;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/**
 * Reset a few styles
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
dialog,
menu,
iframe,
figure {
  font: inherit;
  margin: 0;
  border: 0;
  list-style: none;
  padding: 0;
}

/**
 * Clean out browser button styles
 */

button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
}

/**
 * Header
 */

header {
  background-color: transparent;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  
  z-index: 6;
}

header > button {
  display: flex;
  align-items: center;
  gap: .375rem;
  
  position: relative;
  z-index: 9;
}

header > button::after {
  content: "▾";
}

header.has-tongue > button::after {
  content: "▴";
}

header > button span {
  display: none;
}

header > menu {
  display: flex;
  align-items: center;
  
  position: relative;
  z-index: 9;
}

header > menu a {
  display: flex;
  align-items: center;
}

header > button,
header > menu button {
  background-color: #FFF;
  border-radius: var(--border-radius-full);
  
  padding: .375rem 1rem;
  
  font-size: 1rem;
  font-weight: 700;
}

header.has-tongue > button,
header.has-tongue > menu button {
  background-color: #000;
  color: #FFF;
}

/**
 * Dialog
 */

dialog {
  background-color: #FFF;
  display: none;
  
  /* Taking header into account .. */
  padding-top: 4.25rem;
  padding-bottom: 1rem;
  
  position: fixed;
  top: 0;
  right: 0;
  
  width: auto;
  height: auto;
  
  overflow: hidden;
}

header.has-tongue dialog {
  display: block;
}

dialog > menu {
  display: grid;
  justify-items: start;
  
  padding-left: calc(1rem + 1rem);
  padding-right: calc(1rem + 1rem);
}

dialog > menu a {
  display: flex;
  align-items: center;
  gap: .375rem;
  
  font-size: 1rem;
  font-weight: 700;
}

dialog > menu a::before {
  content: "○";
}

dialog > menu a.is-selected::before {
  content: "●";
  color: #000;
}

dialog > menu a.is-selected::after {
  content: "Clear";
  color: #B66E5F;
}

dialog > menu span {
  color: var(--gray);
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: .02em;
  text-transform: uppercase;
}

/**
 * Eyes
 */

.eyes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  display: none;
  align-items: center;
  z-index: 6;
}

.eyes .eye {
  color: #FFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header.has-tongue .eyes .eye {
  color: hsl(0 0% 90%);
}

.eyes .eye:last-child {
  margin-left: -.25rem;
}

.eyes .eye svg {
  width: auto;
  height: 2.625rem;
}

.eyes .eye .pupil {
  color: #000;
  
  position: absolute;
  width: 1.375rem;
  height: auto;
  will-change: transform;
  z-index: 6;
}

/**
 * Main
 */

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  column-gap: 1rem;
  row-gap: 1rem;
  
  /* Header height */
  margin-top: 4.25rem;
  
  padding-top: 0;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

main > a {
  display: block;
  
  position: relative;
  grid-column: span 6;
}

main > a:focus img {
  /* TODO: add color specific focuses .. */
  box-shadow: 0 0 0 .25rem rgb(255 255 255 / 25%);
}

main > a img {
  aspect-ratio: 16/10;
  background-color: hsl(230, 0%, 7.5%);
  border-radius: var(--border-radius-xs);
}

main > a p {
  color: #FFF;
  display: block;
  margin-top: .5rem;
  padding-right: 1rem;
  
  font-size: .75rem;
  font-weight: 700;
  
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Aside
 */
 
aside {
  background-color: #FFF;
  display: none;
  
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  
  overflow: auto;
  overflow-x: hidden;
  
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  
  height: 100%;
  max-width: 140rem; /* TODO .. */
  width: 100%;
  
  z-index: 666;
}

aside.is-open {
  display: block;
}

aside > button {
  background-color: #FFF;
  border: 4px solid #000;
  border-radius: var(--border-radius-full);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: sticky;
  top: 0;
  left: 0;
  
  width: 2.375rem;
  height: 2.375rem;
}

aside > button svg {
  width: auto;
  height: .875rem;
}

/**
 * Article
 */

article {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: calc(0rem + .75rem);
  padding-right: calc(0rem + .75rem);
}

article > section + section {
  margin-top: 2rem;
}

article > section p + p {
  margin-top: .875rem;
}

article > section p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .01em;
  max-width: 100%;
  width: 100%;
}

article > section a {
  text-decoration: underline;
}

article figure {
  display: none;
}

article figure img {
  border-radius: var(--border-radius-xs);
}

article figure figcaption {
  color: var(--gray);
  margin-top: .875rem;
  font-size: .75rem;
  font-weight: 500;
}

@media (min-width: 540px) {
  
  main > a {
    grid-column: span 4;
  }
  
  article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: calc(2.375rem + 1rem);
    padding-right: calc(2.375rem + 1rem);
  }
  
  article > section p {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  
  header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  header > button,
  header > menu button {
    font-size: 1.25rem;
  }
  
  dialog {
    /* Taking header into account .. */
    padding-top: 5.625rem;
    padding-bottom: 1.5rem;
  }
  
  dialog > menu {
    padding-left: calc(1.5rem + 1rem);
    padding-right: calc(1.5rem + 1rem);
  }
  
  dialog > menu a {
    font-size: 1.25rem;
  }
  
  dialog > menu span {
    font-size: .875rem;
  }
  
  .eyes {
    display: flex;
  }
  
  main {
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    
    /* Header height */
    margin-top: 5.625rem;
    
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  main > a {
    grid-column: span 3;
  }
  
  aside {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
    width: 85%;
  }
  
  aside > button {
    width: 2.75rem;
    height: 2.75rem;
  }
  
  aside > button svg {
    height: 1rem;
  }
  
  article {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
  
  article > section + section {
    margin-top: 2.5rem;
  }
  
  article > section p + p {
    margin-top: 1rem;
  }
  
  article > section p {
    font-size: 1.375rem;
    max-width: 40rem;
  }
  
  article figure figcaption {
    margin-top: 1rem;
    font-size: .875rem;
  }
}