@font-face {
  font-family: "ShantellSans";
  font-display: block;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Shantell_Sans-Normal-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "ShantellSans";
  font-display: block;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Shantell_Sans-Normal-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "ShantellSans";
  font-display: block;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Shantell_Sans-Normal-Bold.woff2") format("woff2");
}

:root {
  /* Colors */
  --colors-gray0: #000;
  --colors-gray1: #1A1A1A;
  --colors-gray2: #333333;
  --colors-gray3: #4F4F4F;
  --colors-gray4: #696969;
  --colors-gray5: #B2B2B2;
  --colors-gray6: #E5E5E5;
  --colors-gray7: #FFF;

  --colors-red1: #1A0404;
  --colors-red2: #412020;
  --colors-red3: #EB6864;

  --colors-blue1: #191D52;
  --colors-blue2: #5E6DEE;
  --colors-blue3: #C1C4EA;

  --colors-background: var(--colors-gray0);
  --colors-foreground: var(--colors-gray7);

  /* Spacing */
  --space-1: 5px;
  --space-2: 10px;
  --space-3: 15px;
  --space-4: 20px;
  --space-5: 25px;
  --space-6: 35px;
  --space-7: 45px;
  --space-8: 65px;
  --space-9: 80px;
  --space-10: 100px;

  /* Sizes */
  --sizes-1: 5px;
  --sizes-2: 10px;
  --sizes-3: 15px;
  --sizes-4: 20px;
  --sizes-5: 25px;
  --sizes-6: 35px;
  --sizes-7: 45px;
  --sizes-8: 65px;
  --sizes-9: 80px;
  --sizes-10: 100px;

  /* Font Sizes */
  --fontSizes-1: 0.78125rem;
  --fontSizes-2: 0.9rem;
  --fontSizes-3: 1rem;
  --fontSizes-4: 1.2rem;
  --fontSizes-5: 1.5rem;
  --fontSizes-6: 1.75rem;
  --fontSizes-7: 2rem;
  --fontSizes-8: 2.5rem;
  --fontSizes-9: 3rem;

  /* Typography */
  --font: "ShantellSans";

  --radii-1: 3px;
  --radii-2: 5px;
  --radii-3: 10px;
  --radii-pill: 666px;

  --blurs-1: blur(3px);

  --headerHeight: var(--sizes-10);
}

:root {
  box-sizing: border-box;
  background-color: var(--colors-background);
  color: var(--colors-foreground);
  
  /* Simply feels better then global text cursor */
  cursor: default;
  
  font-family: var(--font);
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html.has-drapes body {
  overflow: hidden;
}

html body::after {
  background-color: rgba(26, 26, 26, 0.6);
  backdrop-filter: var(--blurs-1);
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  pointer-events: none;
  z-index: 666;
}

html.has-drapes body::after {
  display: block;
  pointer-events: all;
  animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running popDrapes;
}

@keyframes popDrapes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/**
 * Media elements
 */

svg,
img,
video,
iframe {
  display: inline-block;
  vertical-align: bottom;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/**
 * Reset a few styles
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
dialog,
menu,
iframe,
figure {
  font: inherit;
  margin: 0;
  border: 0;
  list-style: none;
  padding: 0;
}

/**
 * Clean out browser button styles
 */

button {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
}

/**
 * Header
 */

header {
  background-color: transparent;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 666;
}

header.has-tongue {
  z-index: 6666; /* to overpower drapes .. */
}

header > button {
  display: flex;
  align-items: center;
  gap: .375rem;
  
  position: relative;
  z-index: 9;
}

header > button::after {
  content: "▾";
}

header.has-tongue > button::after {
  content: "▴";
}

header > button span {
  display: none;
}

header > menu {
  display: flex;
  align-items: center;
  
  position: relative;
}

header > menu a {
  display: flex;
  align-items: center;
}

header > button,
header > menu button {
  background-color: var(--colors-gray1);
  color: var(--colors-link);
  border: 1px solid transparent;
  border-radius: var(--radii-pill);
  
  height: var(--sizes-6);

  padding-left: var(--space-3);
  padding-right: var(--space-3);

  font-size: var(--fontSizes-2);
  font-weight: 600;
}

header > button:hover,
header > menu button:hover {
  background-color: var(--colors-gray1);
  color: var(--colors-gray7);
  border: 1px solid var(--colors-gray3);
}

/* TODO
header > button:focus,
header > menu button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px var(--colors-blue2);
}
*/

header.has-tongue > button {
  background-color: var(--colors-gray1);
  color: var(--colors-gray6);
}

/**
 * Dialog
 */

dialog {
  background-color: var(--colors-background);
  border-bottom: 1px solid var(--colors-gray2);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);

  display: none;
  
  /* Taking header into account .. */
  padding-top: var(--headerHeight);
  padding-bottom: var(--space-5);
  
  position: fixed;
  top: 0;
  right: 0;
  
  width: auto;
  height: auto;
  
  overflow: hidden;
}

header.has-tongue dialog {
  display: block;
  animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running popDialog;
}

@keyframes popDialog {
  0% {
    opacity: 0;
    transform: translateY(calc(var(--space-2)*-1)) scale(.96);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

dialog > menu {
  display: grid;
  justify-items: start;
  gap: var(--space-1);
  
  padding-left: 0;
  padding-right: 0;
}

dialog > menu a {
  color: var(--colors-gray6);
  display: flex;
  align-items: center;
  gap: var(--space-1);
  
  font-size: var(--fontSizes-2);
  font-weight: 600;
}

dialog > menu a::before {
  content: "○";
}

dialog > menu a.is-selected::before {
  content: "●";
}

dialog > menu a.is-selected::after {
  content: "Clear";
  color: var(--colors-red3);
}

dialog > menu span {
  color: var(--colors-gray5);
  font-size: var(--fontSizes-2);
  font-weight: 600;
}

/**
 * Eyes
 */

.eyes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  display: none;
  align-items: center;
  z-index: 6;
}

.eyes .eye {
  color: var(--colors-gray6);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyes .eye:last-child {
  margin-left: -6.5px;
}

.eyes .eye svg {
  width: auto;
  height: calc(var(--sizes-7) + 5px);
}

.eyes .eye .pupil {
  color: var(--colors-gray1);
  
  position: absolute;
  width: auto;
  height: calc(var(--sizes-5) + 5px);
  will-change: transform;
  z-index: 6;
}

/**
 * Main
 */

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
  column-gap: var(--sizes-2);
  row-gap: var(--sizes-2);
  
  margin-top: var(--headerHeight);
  
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

main > a {
  display: block;
  
  position: relative;
  grid-column: span 6;
}

main > a:focus {
  outline: none;
}

main > a:focus img {
  /* TODO: add color specific focuses .. */
  box-shadow: 0 0 0 var(--sizes-1) var(--colors-blue2);
}

main > a img {
  aspect-ratio: 16/10;
  border: 1px solid transparent;
  border-radius: var(--radii-3);
}

main > a:hover img {
  border-color: var(--colors-gray3);
}

main > a p {
  color: var(--colors-gray6);
  display: block;

  margin-top: var(--space-2);
  padding-right: var(--space-4);
  
  font-size: var(--fontSizes-1);
  font-weight: 600;
  line-height: 1.35;
  
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Aside
 */
 
aside {
  background-color: var(--colors-background);
  border-left: 1px solid var(--colors-gray2);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1);

  display: none;
  flex-direction: column;
  align-items: flex-end;
  
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  
  overflow: auto;
  overflow-x: hidden;
  
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  
  height: 100%;
  max-width: 100%;
  width: 100%;
  
  z-index: 6666;
}

aside.is-open {
  display: flex;
  animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running popAside;
}

@keyframes popAside {
  0% {
    opacity: 0;
    transform: translateX(var(--space-2)) scale(.96);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

aside > button {
  background-color: var(--colors-gray1);
  border: 1px solid transparent;
  border-radius: var(--radii-pill);
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  
  position: sticky;
  top: 0;
  left: 0;
  
  width: var(--sizes-6);
  height: var(--sizes-6);
}

aside > button svg {
  width: auto;
  height: var(--sizes-2);
}

aside > button:hover {
  background-color: var(--colors-gray1);
  border: 1px solid var(--colors-gray3);
}

/**
 * Article
 */

article {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

article > section + section {
  margin-top: var(--space-6);
}

article > section h2 + p {
  margin-top: var(--space-3);
}

article > section p + p {
  margin-top: var(--space-3);
}

article > section h2 {
  color: var(--colors-gray6);
  font-size: var(--fontSizes-2);
  font-weight: 600;
}

article > section p {
  color: var(--colors-gray6);
  font-size: var(--fontSizes-2);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.01em;

  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  max-width: 100%;
  width: 100%;
}

article > section small {
  font-size: var(--fontSizes-2);
}

article > section a {
  text-decoration: underline;
}

article > section a:hover {
  color: var(--colors-blue2);
}

article figure {
  display: none;
}

article figure img {
  border-radius: var(--radii-2);
}

article figure figcaption {
  color: var(--colors-gray5);
  margin-top: var(--space-2);
  font-size: var(--fontSizes-1);
  font-weight: 500;
  line-height: 1.35;
}

@media (min-width: 540px) {
  
  main > a {
    grid-column: span 4;
  }
  
  aside {
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  
  header {
    height: var(--headerHeight);

    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }
  
  dialog {
    /* Taking header into account .. */
    padding-top: var(--headerHeight);
  }
  
  dialog > menu {
    padding-left: calc(var(--space-5) + var(--space-3));
    padding-right: calc(var(--space-5) + var(--space-3));
  }
  
  .eyes {
    display: flex;
  }
  
  main {
    column-gap: var(--sizes-4);
    row-gap: var(--space-4);
    
    margin-top: calc(var(--headerHeight) * 2);

    padding-left: var(--space-8);
    padding-right: var(--space-8);
    padding-bottom: var(--space-6);
  }
  
  main > a {
    grid-column: span 3;
  }
  
  aside {
    max-width: 450px;
    
    padding-left: var(--space-6);
    padding-right: var(--space-6);
    padding-top: var(--space-6);
    padding-bottom: var(--space-6);
  }
}