<aside id="info">
  <article>
    <section>
      <p>Invisible Directory gathers, organizes, and promotes beautiful projects that use the World Wide Web as a space to effectively communicate about important social, environmental, cultural, and economic issues.</p>      
    </section>

    <section>
      <p>Our project has been a collaborative effort, with contributions from both strangers and friends. We invite you to share and use this site for research, reference, or just emotional reflection, as it is a resource intended for public good.</p>
    </section>
    
    <section>
      <p>
        Website: <a href="https://vaidaslamanauskas.com/" target="_blank" rel="noopener noreferrer">Vaidas Lamanauskas</a><br/>
        Type: <a href="https://shantellsans.com/" target="_blank" rel="noopener noreferrer">Shantell Sans</a>, a friendly, high-energy typeface from <a href="https://shantellmartin.art/" target="_blank" rel="noopener noreferrer">Shantell Martin</a>
      </p>
    </section>
  </article>
</aside>
