<aside>
  <button aria-label="Close">
    <svg viewBox="0 0 62 63" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
      <path d="M7.656 62.272c3.968 0 7.424-1.92 11.008-7.424 2.944-4.608 6.4-9.088 10.112-13.312 4.096 4.352 7.808 8.832 10.624 12.672 4.48 6.4 8.32 7.68 11.008 7.68 5.888 0 9.088-2.688 9.088-7.168 0-2.432-.768-5.76-6.016-13.184-2.432-3.328-6.528-7.936-11.136-12.928 4.608-3.712 9.472-7.04 14.592-10.112 3.584-2.304 4.736-4.224 4.736-8.32 0-5.76-2.56-9.344-7.68-9.344-2.944 0-7.296 1.536-12.928 5.376-4.224 2.816-8.192 5.888-11.904 9.088-4.096-3.968-7.68-7.168-10.112-9.088C14.056 2.112 11.496.96 8.168.96 3.048.96.232 5.056.232 10.176c0 4.864 2.688 7.296 6.912 10.752 2.56 2.176 5.504 4.736 8.576 7.68-6.144 7.168-10.752 14.336-12.8 19.968-3.584 9.216-.384 13.696 4.736 13.696Z"/>
    </svg>
  </button>
  
  <article>
    <section>
      <h2>About</h2>
      <p>Invisible Directory gathers, organizes, and promotes beautiful projects that use the World Wide Web as a space to effectively communicate about important social, environmental, cultural, and economic issues.</p>
      <p>Our project has been a collaborative effort, with contributions from both strangers and friends. We invite you to share and use this site for research, reference, or just emotional reflection, as it is a resource intended for public good.</p>
    </section>
    
    <section>
      <h2>History</h2>
      <p>Representation of non-profit sector on the hip inspiration and award type websites was, and still is, very scarce, one might even say — invisible. Hence, in 2021, the project was started. Sourcing from years of casual work, research, and external contributions, the collection now encompasses a healthy selection of websites that showcase the diverse world of design for non-profit organizations and social causes.</p>
    </section>
    
    <section>
      <figure>
        <img src="/photos/blacktip_sharks.jpg" alt="Blacktip sharks in pelagic water.">
        <figcaption>
          Blacktip sharks in pelagic water.<br>
          Photo: <a href="https://www.instagram.com/kimberlyswimberly/" target="_blank" rel="noopener noreferrer">Kimberly Jeffries</a> / Ocean Image Bank
        </figcaption>
      </figure>
      
      <figure>
        <img src="/photos/free_diver_and_manta_ray.jpg" alt="Free diver and manta ray.">
        <figcaption>
          Free diver and manta ray.<br>
          Photo: <a href="https://www.instagram.com/jeffbhester/" target="_blank" rel="noopener noreferrer">Jeff Hester</a> / Ocean Image Bank
        </figcaption>
      </figure>
    </section>
    
    <section>
      <h2>Imprint</h2>
      <p>The project is currently maintained by <a href="https://vaidaslamanauskas.com/" target="_blank" rel="noopener noreferrer">Vaidas Lamanauskas</a>. Feel free to reach out for any questions, concerns or ideas.</p>
      <p>Website is set in <a href="https://shantellsans.com/" target="_blank" rel="noopener noreferrer">Shantell Sans</a>, a friendly, high-energy typeface from <a href="https://shantellmartin.art/" target="_blank" rel="noopener noreferrer">Shantell Martin.</a></p>
      
      <p><small>©&thinsp;2023&thinsp;Invisible Directory. Always in progress ♡</small></p>
    </section>
  </article>
</aside>
