<aside>
  <button aria-label="Close">
    <svg viewBox="0 0 16.1 16.1" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.9 8.1l4.9-4.9c.4-.4.4-1 0-1.4L14.4.4c-.4-.4-1-.4-1.4 0L8.1 5.2 3.1.3c-.4-.4-1-.4-1.4 0L.3 1.7c-.4.4-.4 1 0 1.4L5.2 8 .3 13c-.4.4-.4 1 0 1.4l1.4 1.4c.4.4 1 .4 1.4 0L8 10.9l4.9 4.9c.4.4 1 .4 1.4 0l1.4-1.4c.4-.4.4-1 0-1.4l-4.8-4.9z"></path>
    </svg>
  </button>
  
  <article>
    <section>
      <p><strong>Invisible Directory</strong> gathers, organizes, and promotes beautiful projects that use the World Wide Web as a space to effectively communicate about important social, environmental, cultural, and economic issues.</p>
      <p>Our project has been a collaborative effort, with contributions from both strangers and friends. We invite you to share and use this site for research, reference, or just emotional reflection, as it is a resource intended for public good.</p>
      
      <p>Consider <a href="https://www.buymeacoffee.com/websites.ngo" target="_blank" rel="noopener noreferrer">supporting the project</a>.</p>
    </section>
    
    <section>
      <figure>
        <img src="/photos/mountain_gorillas_uganda.jpg" alt="Mountain gorillas in Bwindi National Park, Uganda.">
        <figcaption>
          Mountain gorillas in Bwindi National Park, Uganda.<br>
          Photo: Martin Harvey / WWF
        </figcaption>
      </figure>
    </section>
  </article>
</aside>