<!--
              _                 __
      __.--**"""**--...__..--**""""*-.
    .'                                `-.
  .'                         _           \
 /                         .'        .    \   _._
:                         :          :`*.  :-'.' ;
;    `                    ;          `.) \   /.-'
:     `                             ; ' -*   ;
       :.    \           :       :  :        :
 ;     ; `.   `.         ;     ` |  '
 |         `.            `. -*"*\; /        :
 |    :     /`-.           `.    \/`.'  _    `.
 :    ;    :    `*-.__.-*""":`.   \ ;  'o` `. /
       ;   ;                ;  \   ;:       ;:   ,/
  |  | |                       /`  | ,      `*-*'/
  `  : :  :                /  /    | : .    ._.-'
   \  \ ,  \              :   `.   :  \ \   .'
    :  *:   ;             :    |`*-'   `*+-*
    `**-*`""               *---*
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- .. -->
  <link rel="icon" type="image/png" href="/gaze-right.png">
  
  <title>‎ &emsp;‎ &emsp; &emsp; Directory of Non-Profit Websites</title>
  <meta name="description" content="Showcase of meaningful projects that use the web to communicate about significant social, environmental, cultural, and economic issues.">

  <!-- Fonts -->
  <link rel="preload" href="/fonts/Shantell_Sans-Normal-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Shantell_Sans-Normal-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Shantell_Sans-Normal-Bold.woff2" as="font" type="font/woff2" crossorigin>
  
  <link rel="stylesheet" href="/css/style.css">

  <meta property="og:title" content="Invisible Directory" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Showcase of meaningful projects that use the web to communicate about significant social, environmental, cultural, and economic issues." />
  <meta property="og:image" content="{{ site.url }}/meta.jpg">
  <meta property="og:url" content="https://invisible.directory/" />
  
  <script defer data-domain="invisibledirectory.org" src="https://plausible.io/js/script.js"></script>
</head>
<body>

{% include header.html -%}

<main>
{{ content }}
</main>

{% include aside.html %}
{% include footer.html %}

<script src="/js/filters.js"></script>
<script src="/js/eyes.js"></script>
<script src="/js/favicon.js"></script>
<script src="/js/footer.js"></script>
</body>
</html>
